#navbar {
    width: 100%;
    max-width: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#filter {
    background-color: rgba(148, 148, 148, 0.5)
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    align-items: center;
    align-content: center;
	box-shadow: 2px 2px 3px #999;
}
.float img {
    padding-top: 5%;
}

.my-float{
	margin-top:22px;
}